<!DOCTYPE html>
<html>
  <head>
<title>JoIN/Us</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JoIn Us</h1>
    <h2> WE aRe  DEDSEC tHe MOst powerful hacker group </h2>
  </body>
</html>
