<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JoIn.uS</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="backgroundcolor:darkgrey">
<h1> JoIn Us  </h1>
<h3>WE aRe tHe MOst powerful hacker group</h3>


  </body>
</html>
